.Home {
    background-color: #5673bc;
    font-size: x-large;
    color: white;
    width: 24.6vw;
    cursor: pointer;
    font-family: Monaco, Monaco, monospace;
}

.Home:hover {
    background-color: #3a5498;
}